@font-face {
    font-family: Poppins;
    font-style: italic;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
        -moz-appearance: textfield;
        appearance: none;
    }

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    height: 100vh;
}

#input {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#input div {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 32px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    width: 112px;
    padding: 12px 24px;
    outline: none;
}

#output {
    color: #000;
    font-size: 104px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: -200px;
}

#output #label {
    letter-spacing: -2.08px;
}

#numbers {
    letter-spacing: 16.64px;
}

.labels {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3.43px;
    color: #716F6F;
    padding-bottom: 8px;
}

.numbers {
    color: #854DFF;
}

hr {
    border: 1px solid #f0f0f0;
    width: 631px;
    /* color: black; */
}

#images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 729px;
    height: 544px;
    flex-shrink: 0;
    border-radius: 25px 25px 200px 25px;
    background: #FFF;
    padding: 55px;
}

.output-info {
    display: flex;
    line-height: 111%;
}

button {
    background: #854dff;
    height: 98px;
    width: 98px;
    border-radius: 100%;
    border: none;
}

button:hover {
    background: black;
    cursor: pointer;
}

.error-label {
    color: #FF5757;
}

.error-input {
    border: 1px solid #FF5757;
}

.error-msg {
    display: none;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #FF5757;
}

.visible {
    display: flex;
}